<div class="leads-page">
  <div class="container">
    <div class="page-header">
      <h1>Edit Lead</h1>
    </div>

    <div class="form-container">
      <%= render "form", lead: @lead %>
    </div>
  </div>
</div>
